.history{
    
    &__firstCol.col {
        padding: 0;
    }
    
    h1{
        font-size: 2rem;
        padding-left: 0.75rem;
    }
    
    h2 {
        font-size: 1.8em;
        font-weight: lighter;
        text-align: right;
        padding: 1.4em 1em 0 0;
        
    }
    
    h3 {
        font-size: 1.8rem;
        font-weight: lighter;
        text-align: right;
        padding-right: 1.4rem;
        margin-top: -1.6rem;
    }
    
    .firstWord {
        font-weight: 400;    
    }
    
    &__radioRow__prevEpisodes h3 {
        margin-top: 0.6rem;
        margin-bottom: 1.6rem;
    }
    
    &__radioRow__radioCol {
        margin-top: 2em;
        
        &.noReason {
            padding: 0;
        }
    
        &__presentSince {
            margin-top: 2em;
            padding: 0 2em;    
        }
        
    }
    
   &__or { 
        font-size: 2em;
        font-weight: 200;
        text-align: center;
        margin-top: 0.6em;
   }

    .divider {
        margin-bottom: 3.4rem;    
    }
    
    &__firstDivider.divider {
        margin-top: 2.4rem;
    }
    
    &__lastDivider.divider{
        margin-bottom: 2.4rem;
    }
}    
