.history{
    
    &__firstCol.col {
        padding: 0;
    }

   &__or { 
        font-size: 2em;
        font-weight: 200;
        text-align: center;
        margin-top: 0.6em;
   }
    
    &__betterWorse__radioRow {
        border-top: 1px solid rgba(243, 58, 0, 0.2);
        border-bottom: 1px solid rgba(243, 58, 0, 0.2);
        padding: 10px 0;
    }
}