.movementLoss {
    
    &__firstCol.col {
        padding: 0;
    }
    
    h3 {
      text-align: right;
    }
    
    td {
      padding: 0px
    }

    label {
      margin-top: 15px;
    }
}

@media only screen and (max-width: 992px) {
  .movementLoss {
    h3 {
      text-align: center;
      font-size: 1.4rem;
      margin: 0;
    }
    table.responsive-table {
      tbody {
        white-space: normal;
      }
      td, th {
        height: 42px;
        padding: 0px;
      }
      td {
        text-align: center;
      }
      th {
        text-align: left;
      }
      tr {
        width: 20%;
      }
      [type="radio"] + label:before, [type="radio"] + label:after {
        left: initial;
      }
      label {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .movementLoss {

    label {
      margin-top: 2px;
      margin-bottom: 4px;
    }
  }
}