.movementLoss {
    
    &__firstCol.col {
        padding: 0;
    }
    
    h3 {
      text-align: right;
    }
    
    td {
      padding: 0px
    }

}

@media only screen and (max-width: 992px) {
  .movementLoss {
    h3 {
      text-align: center;
      font-size: 1.4rem;
    }
    table.responsive-table {
      tbody {
        white-space: normal;
      }
      td, th {
        min-height: 2.25em;
        padding: 0px;
      }
      td {
        text-align: center;
      }
      th {
        text-align: left;
      }
      tr {
        width: 20%;
      }
      [type="radio"] + label:before, [type="radio"] + label:after {
        left: initial;
      }
    }
  }
}
