.show-side {
    transform: translateX(0) !important;
}

.side-nav {
    transition: all 0.5s ease;
}

#slide-out {
    background-color: rgba(243, 58, 0, 0.8);
}

.table-of-contents a:hover {
    color: white !important;
}

.side-nav a {
    color: white !important;
}

.table-of-contents a.active {
    border-left: 4px solid #fff !important;
}

a.button-collapse {
    position: fixed;
    i {
        color: rgb(243, 58, 0);
        border: 1px solid rgb(243, 58, 0);
        border-radius: 50%;
        padding: 0.4rem;
        background-color: #fff;
    }
}

.spacer {
    position: fixed;
    right: 0;
    height: 6rem;
    width: 100px;
    z-index: 99999;
    padding: 1rem;
}