.specificQuestions {
  
    h1 {
      font-size: 2em;
    }
    
    h2 {
      font-size: 1.6em;
      font-weight: 300;
    }
    
    &__checkRow {
      display: flex;
      flex-wrap: wrap;
    }
    
    &__bladderGait {
        h2 {
          margin-right: 1em;
        }
    }
    
    .valign-wrapper {
      flex-wrap: wrap;
    }
          
}