.symptomsTable {
  margin-bottom: 50px;

  .symptoms {
     width: 13%;
   }

   .during {
     width: 26%;
   }

  .mech {
      width: 36%;
  }

  [type="radio"]:not(:checked) + label {
    padding-left: 25px;
  }

  [type="radio"]:checked + label {
    padding-left: 25px;
  }

  .col {
    padding: 0 10px;
  }
}

.upArrow, .downArrow {
    font-size: 1.8em;
    font-weight: 600;
    padding-right: 1px;
    vertical-align: middle;
}

.title {
  font-size: 2em;
}

#testMovements {
  h1 {
    margin-bottom: 0;
  }

  h3.subtitle {
    font-weight:lighter;
    font-size: 1.4em;
    text-align: center;
    margin-top: 0;
  }
}

th {
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
}

.symptom {
  font-size: 1em;
  text-align: right;
  padding-right: 1em;
}